---
import Head from '../components/Head.astro';
import '../styles/global.css';
import Nav from '../components/Nav.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="black">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="max-w-3xl mx-auto px-6 py-8">
    <Nav />
    <main>
      <slot />
    </main>
  </body>
</html>
